PASSWORD = "test"
OPENAI_API_KEY = "123"
GOOGLE_API_KEY = "123"
TEMPLATE_1_HEADER = "Summarize the article:"
TEMPLATE_2_HEADER = "Why are they important:"
TEMPLATE_TWITTER_HEADER = "Write a twitter post:"
